.main-container {
  /* overflow-x: hidden; */
  max-width: 60%;
}
.sideBar-show {
  animation: show 0.5s;
  background-color: #2c3034;
  animation-fill-mode: forwards;
}
@keyframes show {
  from {
    width: 5%;
  }
  to {
    width: 15%;
  }
}
.main-show {
  animation: showMain 0.5s;
  animation-fill-mode: forwards;
  width: 95%;
}
@keyframes showMain {
  from {
    width: 95%;
  }
  to {
    width: 85%;
  }
}
.sidebar-element:hover {
  background-color: #6a6d70;
}
.sidebar-element {
  height: 50px;
}
.sidebar-icon:hover {
  color: rgba(154, 163, 163, 0.37);
  cursor: pointer;
}
