.sideBar-show{
  animation: show 0.5s;
  background-color: #2C3034;
  animation-fill-mode: forwards;
}
@keyframes show {
  from {width: 10%;}
  to {width: 20%;}
}
.main-show{
  animation: showMain 0.5s;
  animation-fill-mode: forwards;
}
@keyframes showMain {
  from {width: 90%;}
  to {width: 80%;}
}
.sidebar-element:hover{
  background-color: #6a6d70;
}
.sidebar-element{
  height:50px
}